<ion-view view-title="Settings">
	<ion-content style="background-color: white" >
		<div class="item item-divider"> 
          Name: {{firstName + " " + lastName + " " + height+"ft" + " " + weight + "kg"}}
	  	</div>
		
		<div class="list">

  			<label class="item item-input item-floating-label">
    			<span class="input-label">First Name</span>
    			<input type="text" placeholder="First Name" ng-model="firstName">
  			</label>
			
  			<label class="item item-input item-floating-label" >
    			<span class="input-label">Last Name</span>
    			<input type="text" placeholder="Last Name" ng-model="lastName">
  			</label>
            		<label class="item item-input item-floating-label" >
    			<span class="input-label">Height in feet</span>
    			<input type="tel" placeholder="Height in feet" ng-model="height">
  			</label>
		    	<label class="item item-input item-floating-label" >
    			<span class="input-label">Weight in Kgs</span>
    			<input type="tel" placeholder="Weight in Kgs " ng-model="weight">
  			</label>
		</div>
	  
	 
		<button class="button button-full button-positive" ng-click="updateDetails(firstName,lastName,height,weight)">
			Update Details
		</button>
		
	</ion-content>
</ion-view>	